html {
    font-family: "Lato";
}

body {
    background-color: #003e29;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    height: 5rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

img {
    display: inline;
    height: auto;
    max-height: 60%;
    width: 20%;
    object-fit: contain;
}

.main-title {
    background-image: url("./images/beach.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title-overlay {
    align-items: center;
    display: flex;
    height: 600px;
    
    flex-direction: column;
    justify-content: space-between;
    margin:100px;
    width:100%

}

.logo-img {
    display: inline;
    background-color: rgba(210, 180, 140, 0.692);
    padding: 1% 1%;

}



.nav-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-right: 10%;
    padding-left: 10%;
}

.nav-link {
    font-size: 1.5rem;
}

.content {
    margin: 2rem 0;
    width: 90%;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.content h1 {
    padding: 2rem 0;
}

.mods-container {
    width: 100%;


}

.mod-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
    margin: 1rem 1rem;


}


.mods-container h1 {
    text-align: center;
}


.mod-card-container {
    display: inline flex;
    background-color: rgb(255, 217, 167);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.mod-card-container h2 {
    text-align: center;
}

.mod-media.vertical {
    display: inline;
    height: 100%;
    max-height: 100%;
    width: 48%;

}

.mod-media.horizontal {
    display: inline;
    width: 60%;
    height: auto;

}

.mod-media-container {
    display: inline;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    flex-shrink: 1;
    gap: 5px;
    height: auto;
    width: 50%;
    max-height: 100%;
    max-width: 100%;
    margin-top: 0.5rem;

}

.track-video {
    width: 100%;
    height: auto;
}