body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;

    margin-bottom: 100px;

}



nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;

}

.nav-link {
    color: seashell;
    font-size: 22px;
    text-decoration: underline;
}

.left {
    justify-content: flex-start;
}

.right {
    margin-left: auto;
    display: inline-flex;
    justify-content: space-around;
    width: 50%;
}

#logo {
    height: 50px;
    margin-left: 10px;
    align-items: center;
}

.mission-image-container {
    background-image: url(./images/img-mission-background.webp);
    width: 1200px;
    height:700px;

}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
}

.mission-text-container {
    background-color: black;
    width: 100%;
}

.tea-of-month-container {
    margin-top: 50px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea-img {
    height: 200px;
    width: 300px;
}

.all-tea-container {
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.location-box{
    display: flex;
    width:300px;
    height:300px;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.locations-image-container {
    background-image: url(./images/img-locations-background.webp);
    width: 1200px;
    height:500px;
    justify-content: center;
    flex-direction: column;
}


.locations-boxes-container {
    gap:40px;
}

.contact-container{
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

footer{
    padding-left: 20px;
    grid-column: 1 span(4);
}
